*{
	font-family: Avenir, sans-serif;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	width: 100%;
}

section{
	margin-top: 75px;
}

/* -----------------------------------------------------------
--------------------------------------------------------------

-------------------------------TITLE--------------------------

--------------------------------------------------------------
------------------------------------------------------------*/

h1{
	margin-left: 40px;
	width: 400px;
	margin-bottom: 40px;
	font-size: 6em;
	line-height: 75px;
}

/* -----------------------------------------------------------
--------------------------------------------------------------

-------------------------------MENU---------------------------

--------------------------------------------------------------
------------------------------------------------------------*/

nav{
	margin-top: 100px;
}

nav > ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style-type: none;
	
}

span{
	box-shadow: 20px 20px 70px #e8e6e6;
	height: 200px;
	margin: 30px 0px 60px 0px;
	width: 200px;
}

.btnabout{
	margin-bottom: 40px;
}

nav > ul > li > a{
	font-size: 2em;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 20px;
}

/* -----------------------------------------------------------
--------------------------------------------------------------

-------------------------------COLOR--------------------------

--------------------------------------------------------------
------------------------------------------------------------*/

.bleu{
	color: #4287f5;
}

.azurin{
	background-color: #a9eafe;
}

.azur{
	background-color: #52a8ff;
}

.bondi{
	background-color: #2c75ff;
}

.electrique{
	background-color: #0051eb;
}

.egyptien{
	background-color: #1e366d;
}

.petrole{
	background-color: #1d4851;
}

.f-azurin{
	color: #A9EAFE;
}

.f-azur{
	color: #52a8ff;
}

.f-bondi{
	color: #2c75ff;
}

.f-electrique{
	color: #0051eb;
}

.f-egyptien{
	color: #1e366d;
}

.f-petrole{
	color: #1d4851;
}

/* -----------------------------------------------------------
--------------------------------------------------------------

-------------------------------FOOTER-------------------------

--------------------------------------------------------------
------------------------------------------------------------*/

footer{
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	padding-top: 5px;
	border-top: solid 1px black;
	font-weight: bold;
}

footer > p{
	margin-bottom: 20px;
	font-size: 0.8em;
}

footer > ul{
	list-style-type: none;
}

footer > ul > li > a{
	color: #000;
	font-size: 0.8em;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

footer > ul > li > a:hover{
	border-bottom: 1px solid #000;
}

/* -----------------------------------------------------------
--------------------------------------------------------------

---------------------VERSION TABLETTE-------------------------

--------------------------------------------------------------
------------------------------------------------------------*/

@media screen and (min-width: 500px){
	section{
		margin-top: 75px;
	}
	
	footer ul{
		display: flex;
		justify-content: space-evenly;
	}
}

/* -----------------------------------------------------------
--------------------------------------------------------------

---------------------VERSION BUREAU---------------------------

--------------------------------------------------------------
------------------------------------------------------------*/

@media screen and (min-width: 980px){
	section{
		margin-left: 200px;
		margin-top: 150px
	}

	h1{
		animation-duration: 1.6s;
    	animation-name: anim1;
		animation-timing-function: ease-out;
		margin-left: 50px;
		position: absolute;
	}

	/*--------------------------
	----------MENU-COLORS-------
	--------------------------*/

	nav{
		animation-duration: 1.6s;
    	animation-name: anim2;
		animation-timing-function: ease-out;
		margin-left: 100px;
		margin-top: 0px;
		top : 250px;
		position: absolute;
	}
	
	nav > ul{
		flex-flow: column wrap;
		width: 250px;
	}

	nav > ul > li > a{
		line-height: 20px;
	}

	nav ul li a:hover span{
		opacity: 1;
	}

	nav li a span{
		position: absolute;
		top: 0px;
		left: 400px;
		z-index: -1;
		opacity: 0;
		transition: opacity 0.5s;
	}

	span{
		height: 240%;
		margin-left: -130px;
		margin-top: -230px;
		width: 260%;
	}

					/*--------------------------
					----------FOOTER------------
					--------------------------*/
	
		footer{
		position: relative;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 5px 40px;
		border-top: none;
	}

	footer ul{
		display: flex;
	}

	footer ul li{
		margin-left: 20px;
	}

	#page{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	#content{
		flex-grow: 1;
	}

	/*TRANSITION*/

	nav ul li a{
		font-size: 2.6em;
		transition-property: font-size;
		transition-duration: 0.5s;
	}

	nav ul li a:hover{
		font-size: 3.5em;
	}

	/*--------------------------
	----------ANIMATION---------
	--------------------------*/

	@keyframes anim1{
		from{
			margin-left: -900px;
			letter-spacing: 0.8em;
		}
				
		to{
			margin-left: 50px;
			letter-spacing: 0;
		}
	}

		@keyframes anim2{
		from{
			margin-left: 800px;
			letter-spacing: 1em;
		}
					
		to{
			margin-left: 100px;
			letter-spacing: 0;
		}
	}
					


	.animeazur{
		animation-name: azurgauche;
		animation-duration: 1.6s;
		animation-timing-function: ease-out;
	}

	@keyframes azurgauche{
		from{
			margin-left: 150px;
		}

		to{
			margin-left: 0px;
		}
	}

	.animebondi{
		animation-name: bondigauche;
		animation-duration: 1.7s;
		animation-timing-function: ease-out;
	}

	@keyframes bondigauche{
		from{
			margin-left: 300px;
		}

		to{
			margin-left: 0px;
		}
	}

	.animeelectrique{
		animation-name: electriquegauche;
		animation-duration: 1.8s;
		animation-timing-function: ease-out;
	}

	@keyframes electriquegauche{
		from{
			margin-left: 450px;
		}

		to{
			margin-left: 0px;
		}
	}

	.animepetrole{
		animation-name: petrolegauche;
		animation-duration: 1.9s;
		animation-timing-function: ease-out;
	}

	@keyframes petrolegauche{
		from{
			margin-left: 600px;
		}

		to{
			margin-left: 0px;
		}
	}

	.animeegyptien{
		animation-name: egyptiengauche;
		animation-duration: 2s;
		animation-timing-function: ease-out;
	}

	@keyframes egyptiengauche{
		from{
			margin-left: 750px;
		}

		to{
			margin-left: 0px;
		}
	}

	

	
}








